@using specifiedbehavior.web.Extensions
@model IEnumerable<specifiedbehavior.web.Models.BlogPost>

@{
    ViewData["Title"] = "Blog";
}

<h1>Blog</h1>

<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@post.DateCreated.ToString("yyyy-MM-dd") - <a asp-action="Post" asp-route-id="@post.Id">@post.Title</a></h5>
                    <p class="card-text">@post.Content.StripHtmlTags().Substring(0, Math.Min(post.Content.Length, 200))...</p>
                    <a asp-action="Post" asp-route-id="@post.Id" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    }
</div>
