@model IEnumerable<specifiedbehavior.web.Models.BlogPost>
@{
    ViewData["Title"] = "Blog Posts";
}

<h1>Blog Posts</h1>

<p>
    <a asp-action="Create">Create New Post</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.SEOTitle)</th>
            <th>@Html.DisplayNameFor(model => model.SEODescription)</th>
            <th>@Html.DisplayNameFor(model => model.SEOKeywords)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.SEOTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.SEODescription)</td>
                <td>@Html.DisplayFor(modelItem => item.SEOKeywords)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
